<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active">User</li>
        <li class="breadcrumb-item"><%= @user.id %></li>
      </ol>

      <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert" data-enpassid="__84">&times;</button>
        <h4>Warning!</h4>
        <p>Best check this experiment, <%= link_to @first_experiment.title, @first_experiment, class: "alert-link" %>.</p>
      </div> 

      <div class="panel panel-primary">
        <div class="panel-heading">Submissions</div>
        <div class="panel-body">
          <%= render 'submissions' %>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="list-group">
        <li class="list-group-item text-center">
          Experiments
        </li>
        <% @user.experiments.each do |experiment| %>
          <%= link_to experiment, class: 'list-group-item list-group-item-action' do %>
            <h4 class="list-group-item-heading"><%= experiment.title %></h4>
            <p class="list-group-item-text">
              Expiration Time: <%= format_time experiment.expiration_date %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>