<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Users", user_path(current_user) %></li>
  <li class="active">Submission</li>
</ul>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Submission</th>
      <th>Status</th>
      <th>Create Time</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td>#</td>
          <td><%= link_to(submission.id, submission_path(submission)) %></td>
          <td><%= submission.status %></td>
          <td><%= submission.created_at %></td>
        </tr>
      <% end %>
    </tbody>
</table>
