<center><h2>Create new experiment</h2></center>
<br>
<%= form_for @experiment, html: {class: "form-horizontal"} do |f| %>
  <% if @experiment.errors.any? %>
    <ul>
      <% @experiment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :remark, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :remark, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :expiration_date, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :expiration_date, :class => "form-control", data:{ provide: 'datepicker' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :judge, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :judge, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :content, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :content, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  var editor = new Simditor({
          textarea: $('#experiment_content'),
          pasteImage: true,
          defaultImage: '<%= image_path "upload-loading.png" %>',
          upload: {url: '/public/simditor/raraupload'}
      });
  
  var editor = CodeMirror.fromTextArea(document.getElementById("experiment_judge"), {
        lineNumbers: true,     // 显示行数
        indentUnit: 4,         // 缩进单位为4
        //styleActiveLine: true, // 当前行背景高亮
        matchBrackets: true,   // 括号匹配
        mode: 'shell',     // HMTL混合模式
        lineWrapping: true,    // 自动换行
        theme: 'neat',      // 使用dracula模版
        //readOnly: true,
    });

    editor.setOption("extraKeys", {
        // Tab键换成4个空格
        Tab: function(cm) {
            var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
            cm.replaceSelection(spaces);
        },
        // F11键切换全屏
        "F11": function(cm) {
            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
        },
        // Esc键退出全屏
        "Esc": function(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
        }
    });
</script>

