<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active"><%= link_to("Vagrantfiles", vagrantfiles_path) %></li>
        <li class="breadcrumb-item"><%= @vagrantfile.id %></li>
      </ol>

      <h1>
        <%= @vagrantfile.filename %>
        <small><%= @vagrantfile.operatingsystem.system_name + " " + @vagrantfile.operatingsystem.system_version %></small>
      </h1>

      <p class="lead">
        by
        <a href="#"><%= link_to(@vagrantfile.author, "#") %></a>
      </p>

      <hr>
      <h4>Posted on <%= format_time @vagrantfile.created_at %></h4>
      <hr>

      <div id="editor" >
        <textarea class="form-control" name = "code" id="code"><%= @vagrantfile.configure %></textarea>
        <br />
        <%= link_to("Edit", edit_vagrantfile_path, class: "btn btn-primary btn-lg") %>
        <%= link_to("Download", download_vagrantfile_path, class: "btn btn-default btn-lg") %>
      </div>

    </div>

    <div class="col-md-4">
      <div class="list-group">
        <li class="list-group-item text-center">
          File Information
        </li>
        <a href="#" class="list-group-item list-group-item-action active">
          <h4 class="list-group-item-heading">File Version</h4>
          <p class="list-group-item-text">Version <%= @vagrantfile.version %></p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <h4 class="list-group-item-heading">File Remark</h4>
          <p class="list-group-item-text"><%= @vagrantfile.remark %></p>
        </a>
      </div>

    </div>

  </div>
</div>

<script>
var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,     // 显示行数
        indentUnit: 4,         // 缩进单位为4
        //styleActiveLine: true, // 当前行背景高亮
        matchBrackets: true,   // 括号匹配
        mode: 'ruby',     // HMTL混合模式
        lineWrapping: true,    // 自动换行
        theme: 'neat',      // 使用dracula模版
        readOnly: true,
    });

    editor.setOption("extraKeys", {
        // Tab键换成4个空格
        Tab: function(cm) {
            var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
            cm.replaceSelection(spaces);
        },
        // F11键切换全屏
        "F11": function(cm) {
            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
        },
        // Esc键退出全屏
        "Esc": function(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
        }
    });

</script>
